body {
    padding-top: 5rem;
    padding-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.containerdiv{
    padding: 10px;
}

.card-layout{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 2%;
}

.Intro{
    padding-bottom: 10px;
    font-weight: bolder;
}

Form{
    padding-bottom: 20px;
}

.FormClass{
    padding-bottom: 30px;
}

.Field{
    padding-right: 100px;
    padding-bottom: 20px;
    border: none;
    border-radius: 6px;
    background-color: rgb(206, 203, 203);
    
}

.Field:hover{
    background-color:  rgb(129, 205, 255);
}

.Area{
    padding-right: 200px;
    padding-bottom: 80px;
    border-radius: 6px;
    resize: none;
}

.Area:hover{
    background-color:  rgb(85, 198, 233);
}

label{
    font-weight: bolder;
}

span{
    color: rgb(255, 61, 61);
    font-weight: bolder;
}

.success{
    background-color: rgb(119, 255, 119);
    padding: 20px;
    font-weight: bolder;
    font-size: 18px;
    color: rgb(0, 63, 0);
}

.danger{
    background-color: rgb(247, 122, 122);
    padding: 20px;
    font-weight: bolder;
    font-size: 18px;
    color: rgb(128, 0, 0);
}

.MainBody{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px;
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 50px; 
    border-radius: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.RightSide{
    background-color: white;
    padding: 10px;
    border-radius: 0px 20% 2% 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.LeftSide{
    background-color: rgb(0, 153, 255);
    padding: 10px;
    padding-top: 100px;
    text-align: center;
    border-radius: 2% 0px 0px 20%;
    color: white;
}

.LeftSide img{
    height: 300px;
    width: 300px;
}

.LeftSide h3{
    font-weight: bolder;
}

.Button{
    text-align: center;
}

button{
    border-radius: 20px;
    border: 3px solid rgb(0, 153, 255);
    color:  rgb(0, 153, 255);
    background-color: white;
    font-weight: bold;
    padding: 10px 50px;
}

button:hover{
    background-color: rgb(0, 153, 255);
    border: white;
    color: white;
}

.ComplaintArea{
    display: flex;
    flex-direction: row;  
}

.First{
    background-color: rgb(0, 153, 255);
    border-radius: 2% 0px 0px 20%;
    padding: 20px;
    padding-left: 50px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(123, 198, 248), rgb(0, 153, 255));
    padding-top: 200px;
    color: white;
}

.First h1{
    animation-name: cool;
    animation-duration: 8s;
    animation-iteration-count: 10;
    font-size: 60px;
}

@keyframes cool{
    from {color:rgb(3, 61, 95);}
    to {color: white;}
}

.Middle{
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(0, 82, 129));
    padding: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.Last{
    background-image: linear-gradient(to right, rgb(0, 82, 129), rgb(3, 61, 95));
    border-radius: 0px 20% 2% 0px;
    padding: 20px;
    text-align: center; 
    padding-right: 100px;
    padding-top: 150px;
    color: white;
}

.Last img, .First img{
    height: 300px;
    width: 300px;
}

.form-data{
    padding-right: 100px;
    padding-bottom: 20px;
    border: none;
    border-radius: 6px;
    background-color: white;
    font-size: 20px;
}

.form-data:hover{
    background-color:  rgb(129, 205, 255);
}

.form-data2{
    padding-right: 100px;
    padding-bottom: 50px;
    border: none;
    border-radius: 6px;
    background-color: white;
}

.form-data2:hover{
    background-color:  rgb(129, 205, 255);
}

.required{
    color: rgb(247, 82, 82);
}

.btn{
    border-radius: 20px;
    border: 3px solid rgb(0, 153, 255);
    color:  rgb(0, 153, 255);
    background-color: white;
    font-weight: bold;
    padding: 10px 50px;
}

.LoginBody{
    background-color: #033d5f;
    width: 450px;
    height: 600px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20% 2% 2% 0%;

}

.LoginBody a{
    color: rgb(3, 61, 95);
}

.LoginTop{
    background-color: rgb(3, 61, 95);
    padding: 20px;
    border-radius: 0% 2% 2% 0%;

}


.LoginTop img{
    width: 150px;
    height: 150px;
}

.login-form{
    background-color: white;
    padding: 20px;
    height: 430px;
    text-align: center;
    border-radius: 20% 2% 2% 0%;

}

.login-form h2{
    padding-bottom: 10px;
}

.login-form h5{
    padding-top: 10px;
}

.form-control{
    width: 400px;
    background-color: rgb(236, 233, 233);
}

.form-control:hover{
    background-color: rgb(129, 205, 255);
}

.form-group{
    padding: 10px;
    text-align: left;
}

.btn2{
    width: 400px;
    background-color: rgb(3, 61, 95);
    border: none;
}

.label{
    text-align: left;
}

.SignupBody{
    background-color: rgb(3, 61, 95);
    width: 450px;
    height: 900px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* box-shadow: 0 10px 25px rgb(9, 73, 110);   */
}

.Signup-form{
    background-color: white;
    padding: 20px;
    height: 720px;
    text-align: center;
    border-radius: 20% 0% 0% 2%;
}


.Picture{
    height: 300px;
    width: 380px;
    padding: 5px;
}

.cards{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 40px;
}

#card1{
    height: 500px;
    width: 400px;
    -webkit-box-shadow: inset 1px 1px 1px 0px grey; 
    box-shadow: inset 1px 1px 1px 0px grey; 
    padding: 10px;
    text-align: center;
}

#card2{
    height: 550px;
    width: 300px;
    -webkit-box-shadow: inset 1px 1px 1px 0px grey; 
    box-shadow: inset 1px 1px 1px 0px grey; 
}

.card:hover{
    background-color: rgb(179, 223, 253);
}

#AddCart{
    background-color: rgb(0, 183, 255);
    color:white;
}

#deletebutton, #editbutton, #viewbutton{
    padding: 5px 5px;
    border-color: white;
}

tr{
    background-color: rgb(3, 61, 95);
    color: white;
}

#cbody{
    text-align: center;
    background-color: rgb(3, 61, 95);
    color: white;
}

#checkoutbutton1{
    background-color: rgb(255, 187, 0); 
    color: white;
    padding: 8px 12px;
    border: 2px solid white;
}

#checkoutbutton2{
    background-color: rgb(248, 87, 87); 
    color: white;
    padding: 8px 12px;
    border: none;
    border: 2px solid white;
}

#checkoutbutton3{
    background-color: rgb(1, 196, 1); 
    color: white;
    padding: 8px 12px;
    border: 2px solid black;
}    

#quantityfield{
    width: 70px;
}

#AddItemBody{
    border: none;
    margin: auto;
    padding: 10px;
}

#AddItemBody:hover{
    background-color: white;
}

.AddItemTop{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

#AddItemForm{
    box-shadow: 15px 15px 5px grey;
    background-color: rgb(1, 2, 44);
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    padding-left: 50px;
    padding-top: 5px;
    padding-right: 20px;
    color: white;
    width: 60%;
}

#AddItemForm .form-group{
    font-weight: bolder;
}

.AddItemImageDiv{
    margin: 10px;
}

.AddItemImage{
    width: 650px;
    height: 650px;
}

.ReportBody{
    margin: auto;
    margin-top: 20px;
}

.ReportTable table{
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

.ReportTable th{
    background-color: #033d5f;
    color: white;
    padding: 5px;
    padding-left: 10px;
}

.ReportTable td{
    background-color: #01a0fc;
    color: white;
    padding: 5px;
    border-bottom: 1px solid white;
    padding-left: 10px;
}

.ReportTable tr:nth-child(even){
    background-color: #56c1ff;
    color: yellow;
}

.InventoryBody{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    row-gap: 40px;
}

#InventoryCards{
    padding: 25px;
    text-align: center;
    border-radius: 5%;
    box-shadow: 8px 8px 8px grey;
    font-weight: bolder;
    border: 3px solid grey;
}

.InventoryButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}