{% extends 'base.html' %}

{% block main %}
    <h1 style="text-align:center; color: white;">WELCOME TO MAMA B'S WHOLESALE </h1>
<h4 style="text-align:center; padding-bottom:20px; color: white;">Here is where you finalize your order and the checkout. Thanks for Shopping with us!</h4>
    <h1>Checkout</h1>
    {% include 'flash_messages.html' %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Product No.</th>
            <th>Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th>Subtotal</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        {% for key,product in session['Shoppingcart'].items()%}
        <form action="{{url_for('updatecart',code=key)}}" method="POST">

        <tbody>
          <tr>
            <td scope="row">{{loop.index}}</td>
            <td><img style="height:50px;width:50px;" class="card-img-top " src="/uploads/{{product.image}}" alt="Images" /></td>
            <td>{{product.name}}</td>
            <td>${{product.price}}</td>
            <td><input id="quantityfield" type="number" name='quantity' min='1' max='{{product.stock}}' value='{{product.quantity}}'></td>
            {%if product.quantity|int > 0%}
            {%set subtotal=product.quantity|int * product.price|float%}
            {% endif%}
            <td>${{ subtotal}}</td>
            <td><button type="submit" class="btn btn-secondary" id="checkoutbutton1">Update</button></td>
           </form>
            <td><a href="{{url_for('deleteitemcart',code=key)}} " class="btn btn-danger" id="checkoutbutton2">Remove</a></td>
         
        </tr>
          {% endfor%}
        </tbody>
  
      </table>
      <div class="d-flex p-5">
        <h2><a href="{{url_for('menu')}}" style="margin-right:20px;">Continue Shopping</a></h2>
        <h2 style="margin-right:20px">Tax: <span style="color: #033d5f;"> ${{tax}}</span></h2>
        <h2 style="margin-right:20px">Grand Subtotal: <span style="color: #033d5f;"> ${{grandsubtotal}}</span></h2>
        <h2>Grand Total: <span style="color: #033d5f;"> ${{grandtotal}} </span> </h2>
        <h2><a href="{{url_for('clearcart')}} " class="btn btn-danger" id="clearcartbutton">Clear Cart</a></h2>
        <form action="{{url_for('addtodb')}}" method="POST" style="margin-right: 20px;">
        <button class="btn btn-primary" style="background-color: rgb(255, 187, 0); border: solid rgb(255, 187, 0);"> Check Out</button>
        </form>
        <form action="{{url_for('get_pdf',invoice='Receipt')}}" target="_blank" method="POST">
          <button class="btn btn-primary" style="padding: 8px 12px;"> INVOICE (PDF)</button>
        </form>
      </div>
      
{% endblock %}