{% extends 'base.html' %}

{% block main %}
<h1 style="text-align:center; color: #033d5f;">ITEM DISPLAY </h1>
<div class="Card" id="CardIndi">
    {% for item in invent %}
    <div class="card" id="card2">
        <div class="image" id="image">
            <img class="Picture" id="Picture" src="{{ url_for('get_image', filename=item.photo)}}" />
        </div>
        <div class="info2" id="info">
            <h4 class="item_name">{{item.item_name}}</h4>
            <p class="SellingPrice">{{ "Cost Price: " + "$" + item.selling_price|string}}</p>
            <p class="CostPrice">{{"Selling Price" + "$" + item.cost_price|string}}</p>
            <p class="QuantityInstock">{{"Instock: " + item.quantity_instock|string}}</p>
            <p class="QuantitySold">{{"Sold: " + item.quantity_sold|string}}</p>
            <p class="Supplier">{{"Supplier: " + item.supplier|string}}</p>
            <p class="Perishable">{{"perishables: " + item.perishables|string}}</p>
            <p class="Category">{{"Category: " + item.category|string}}</p>
        </div>
        <div class="button3">
            <a class="btn" id="btn2">Delete Item</a>
           <input class='form-control', value = "{{item.item_name}}" />
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}