{% extends "base.html" %}

{% block main %}

<table class="table" style="width: 100%;">
    {% include 'flash_messages.html' %}
    <thead class="thead-dark">
    <tr>
        <th scope="col" style="padding-right: 5px;">Order Number</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Item Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Tax</th>
        <th scope="col">Total</th>
        <th scope="col">Order Date</th>
    </tr>
    </thead>
    {% for orders in orders %}
    <tbody>
    <tr>
        <td>{{orders.order_id}}</td>
        <td>{{orders.first_name}} {{orders.last_name}}</td>
        <td>{{orders.email}}</td>
        <td>{{orders.item_name}}</td>
        <td>{{orders.quantity}}</td>
        <td>{{orders.grandsubtotal}}</td>
        <td>{{orders.tax}}</td>
        <td>{{orders.total}}</td>
        <td>{{orders.ord_date}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}