{% extends "base.html" %}

{% block main %}





<div class="InventoryBody">
    {{orders}}
    {% for orders in orders %}
        <div class="card" id="InventoryCards" style="width:450px; height:570px;">
      <div class="image" id="image">
      </div>
      <div class="InventoryCardBottom">
        <h2 style="text-align:center; color: #033d5f;">{{orders[2]}}</h2>
        <h5>{{orders[3]}} {{orders[4]}}</h5>
        <h5></h5>
        <h5></h5>
        <h5></h5>
      </div>  
  
    </div>
    {%endfor%}
    </div>
   
  </div>



{% endblock %}