{% extends 'base.html' %}

{% block main %}
{% include 'flash_messages.html' %}

    <h1 class="text-center">Items</h1>
    <div class="above" id="above">
    </div>
    <br>
<div class="card-layout">
    {% for item in invent %}
    <div class="card" style="width: 20rem;">
        <div class="h-100 w-100">
            <img class="card-img-top h-100 w-100" src="/uploads/{{item.photo}}" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">{{item.item_name}}</h5>
          <h5 class="card-title text-center"style="color:black;">{{"Price: " + "$" + item.selling_price|string}}</h5>
          <h5 class="card-title text-center"style="color:black;">{{"Manufactured By: " + item.supplier|string}}</h5>
          <div class="card-footer bg-transparent border-success text-center">
            <form action="{{url_for('addtocart')}}" method="POST">
              <input type="hidden" name="product_id" value="{{item.id}}">
              <label for="">Quantity:</label>
              <input type="number" name="quantity" id="" value="1" min="1" max="{{item.quantity_instock}}">
              <button type="submit" class="btn btn-primary"> Add to Cart</button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
</div>

{% endblock %}
