{% extends "base.html" %}

{% block main %}
<div class="UpdateItemBody" id="UpdateItemBody">
  <div class="UpdateItemBottom" id="UpdateItemBottom">
    <div class="UpdateItemForm center-block">
      <h2>UPDATE ITEMS IN INVENTORY</h2>
      <form method="POST" enctype="multipart/form-data" action="{{ url_for('edit_item', id=id.id) }}" >
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.itemname.label }}
          {{ form.itemname(class='form-control') }} 
        </div>
        <div class="form-group">
          {{ form.costprice.label }}
          {{ form.costprice(class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.sellingprice.label }}
            {{ form.sellingprice(class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.quantityinstock.label }}
            {{ form.quantityinstock(class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.quantitysold.label }}
            {{ form.quantitysold(class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.supplier.label }}
            {{ form.supplier(class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.perishables.label }}
            {{ form.perishables(class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.category.label }}
          {{ form.category(class='form-control') }}
        </div>
        <div class="form-group">
            {{form.photo.label}}
            {{form.photo(class="form-control")}}
        </div>
        <button type="submit" name="submit" class="btn3 btn-primary">Update Item</button>
      </form>
    </div>
{% endblock %}