{% extends 'base.html' %}

{% block main %}
<div class="tablediv" style="margin-left:-150px; background-color: rgb(179, 223, 253);">
  <table class="table" style="width: 100%;">
    {% include 'flash_messages.html' %}
      <thead class="thead-dark">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Price</th>
          <th scope="col">Email</th>
          <th scope="col">Subject</th>
          <th scope="col">Message</th>
          <th scope="col"></th>
        </tr>
      </thead>
      {% for complaint in complaint %}
      <tbody>
        <tr>
          <td>{{complaint.first_name}}</td>
          <td>{{complaint.last_name}}</td>
          <td>{{complaint.email}}</td>
          <td>{{complaint.subject}}</td>
          <td>{{complaint.message}}</td>
          <td><a class="btn btn-primary btn-md" id='deletebutton' href="/deletecomplaint/{{complaint.id}}" style="background-color: rgb(248, 87, 87); color: white;"> Delete Complaint</a></td>
        </tr>
      {% endfor %}
    </table>
  
</div>

  

{% endblock %}