{% extends 'base.html' %}

{% block main %}
<h1 style="text-align:center; color: white;">WELCOME TO MAMA B'S INVENTORY MANAGEMENT<h1>
<h4 style="text-align:center; padding-bottom:20px; color: white;">This is where staff members come to manage items within the inventory</h4>
<div class="InventoryBody">
  {% for inventorylst in inventorylst %}
  <div class="card" id="InventoryCards" style="width:450px; height:570px;">
    <div class="image" id="image">
            <img class="Picture" id="Picture" src="{{ url_for('get_image', filename=inventorylst.photo)}}"/>
    </div>
    <div class="InventoryCardBottom">
    
      <h2 style="text-align:center; color: #033d5f;">{{inventorylst.item_name}}</h2>
      <h5>S_Price: {{"$" + inventorylst.selling_price|string}}</h5>
      <h5>Q_Instock {{inventorylst.quantity_instock}}</h5>
      <h5>Supplier: {{inventorylst.supplier}}</h5>
      <h5>Category: {{inventorylst.category}}</h5>

      <div class="InventoryButtons">
        <div>
          <a class="btn btn-md" id='viewbutton' href="/displayitem/{{inventorylst.id}}" style="background-color: rgb(0, 183, 255); color: white; width:120px;">View Item</a>
        </div>
        <div>
          <a class="btn btn-md" id='editbutton' href="/edit_item/{{inventorylst.id}}" style="background-color: rgb(255, 187, 0); color: white; width:120px;"> Update Item</a>
        </div>
        <div>
          <a class="btn btn-md" id='deletebutton' href="/deleteitem/{{inventorylst.id}}" style="background-color: rgb(248, 87, 87); color: white; width:120px;"> Delete Item</a>
        </div>
      </div>
    </div>  

  </div>
  {%endfor%}
  </div>
 
</div>

  

{% endblock %}